.DS_Store
.VolumeIcon.icns
.fseventsd
*.swp
*.o
*.lo
.libs
*.la

build

*.perspectivev3
*.pbxuser
*.perspective
*.mode1v3
*.mode2v3
*.tm_build_errors
*.xcodeproj/xcuserdata
*.xcodeproj/project.xcworkspace
!default.pbxuser
!default.perspectivev3
!default.mode1v3
!default.mode2v3

*~.nib
*~.xib

Documentation/html
Documentation/docset
